body {
  margin: 0;
  /* overflow: hidden; */
}
input {
  display: none;
}
.container {
  width: 300%;
  display: flex;
}
.container .tab{
  border: 1px solid red;
  width: 33.33333%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}