@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}
a{
  text-decoration: none;
  color: #343a40;
  font-size: 13px;
}
form {
  height: 350px;
  width: 700px;
  background-color: #f1f3f5;
  box-shadow: 0 0 20px #adb5bd;
}
.loginform {
  width: 620px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h3 {
  margin: 0;
  margin-bottom: 7px;
  font-size: 17px;
}
input[name=form] {
  box-sizing: border-box;
  height: 50px;
  width: inherit;
  border: 1px solid #ced4da;
  padding-left: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  transition: .5s;
}
input[name=form]:nth-of-type(1){
  background: url(img/icon-email.png) no-repeat;
  background-color: #fff;
  background-position: 10px center;
}
input[name=form]:nth-of-type(2){
  margin-bottom: 0;
  background: url(img/icon-lock.png) no-repeat;
  background-color: #fff;
  background-position: 10px center;
}
input[name=form]:hover {
  border: 1px solid #66d9e8;
  box-shadow: 0 0 5px #66d9e8;
}
.logininfo {
  height: 50px;
  line-height: 50px;
}
.logininfo span label{
  font-size: 13px;
  cursor: pointer;
}
.logininfo a{
  float:right;
  color:midnightblue
}
.logininfo a:hover{
  text-decoration: underline;
}
.loginform input[type=submit] {
  border: none;
  background-color: #1098ad;
  font-size: 21px;
  color: #fff;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  opacity: .9;
}
.loginform input[type=submit]:hover {
  opacity: 1;
}
*::placeholder {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  transition: .3s;
}
input[name=form]:focus::placeholder{
  opacity: 0;
}